@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script:wght@700&family=Lobster&display=swap');


/* :root{
    background: url("../images/background (11).jpg");
    background-repeat: no-repeat;
    background-position: center;
    animation: body 30s ease infinite;
  } */
  /* @keyframes body {
    0%{background-image: url("../images/background (2).jpg");}
    20%{background-image: url("../images/background (4).jpg");}
    40%{background-image: url("../images/background (3).jpg");}
    60%{background-image: url("../images/background (5).jpg");}
    80%{background-image: url("../images/background.jpg");}
  } */
 
  .welcome, .egiglo1, .hotel{
      font-size: 80px;
        color: white;
        margin-bottom: -100px;
   
        font-family: 'Lato';
        font-weight: bolder;
  }
  .slo{
      font-size: 30px;
      color: white;
      font-family: 'forte';
     margin-left:60vw;
     margin-top: 100px;
      /* width: 500px;
     border: 5px solid transparent;
     background-color: blue;
    border-radius: 9px; */
  }
  .started{
display: inline-block;
outline: 0;
color: white;
cursor: pointer;

border: 4px solid white;
background: blue;
padding: 8px;
font-weight: 800;
font-size: 20px;
height: 50px;
  }
  .started:hover{
      background-color: transparent;
      color: white
  }
  .landing-content{
    text-align: center;
    background: url("../images/background (11).jpg");
    margin-top: -60px;
    padding-top: 70px;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 200px;
  }
  @media only screen and (max-width:480px) {
    .landing-content{
      background-size: cover;
      width: 100vw;
      overflow-x: hidden;
    }
    .welcome, .egiglo1, .hotel{
      font-size: 40px;
    }
    .slo{
      margin-left: 10vw!important;
    
      font-size: 20px;
  
    }
  }