#username, #password, #sex, #fullname, #number{
    background: white;
    border: none;
    width: 400px;
    outline: none;
    font-size: 15px;
    font-family: Lato;
    margin-bottom: 20px;
    height: 30px;  
}
.register-container{
    width: 100vw;
     color: black;
     font-weight: bold;
    
     background: url("../images/background (11).jpg");
     background-size: cover;
     text-transform: none;
     outline: 0;
 background-position:top;
     padding: 1rem;
     font-size: 20px;
     text-align: center;
}