.rooms-container1{
  display: flex;
   
}



@media only screen and (max-width: 480px){
    .rooms-container1{
       margin-bottom: 50px;
        background-size: contain;
        display: block;
        padding-bottom: -30px;
        width: 70vw;
        margin-left: 2vw;
        
    }

    .explore {
        font-size: 20px;
        text-align: left;
        margin-left: 130px;
        margin-top: -50px !important;
    }
    .our{
        margin-left: 20px;
    }
   
    .room-img{

        width: 80vw;
        max-height: 80vh;
        margin-top: 10px;
    }
  
    .room-price{
        font-size: 15px;
        width: 80px;
    }
    .room-name{
        font-size: 29px;
        padding-top: 10px;
        padding-bottom: 10px;
        
    }
    .room-shadow{
        display: inline-block;
        
    }
    .star-icon{
        width: 15px;
    }
    .book-btn, .view-btn{
        width: 120px !important;
        height: max-content;
    }
}