.rooms-container1{
    display: flex;
    padding-left: 20px;
}

@media only screen and (max-width: 480px){
    .rooms-container1{
        width:100%;
        background-size: contain;
    }

    .explore {
        font-size: 20px;
        text-align: left;
        margin-left: 130px;
    }
    .our{
        margin-left: 20px;
    }
   
    .room-img{

        width: 80vw;
        max-height: 80vh;
        margin-top: 10px;
    }
    .room-shadow{
        display: flex;
        flex-direction: column;
    }
    .room-price{
        font-size: 15px;
        width: 80px;
    }
    .room-name{
        font-size: 29px;
        padding-top: 10px;
        padding-bottom: 10px;
        
    }
    .star-icon{
        width: 15px;
    }
    .book-btn, .view-btn{
        width: 120px !important;
        height: max-content;
    }
}